/* font */
@font-face {
    font-family: 'Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Regular.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Light.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'GL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'AL';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


/* Login */

.LogIn {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh; 

    background-color: #B6CDEF;
    
}

.LogIn .form_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LogIn .id_form {
    margin-top: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    
}

.LogIn .pw_form {
    margin-top: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;

}

.LogIn .id_input {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 0;
    background-color: white;
    border: none;
    width: 300px;
    height: 30px;
}

.LogIn .pw_input {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 0;
    background-color: white;
    border: none;
    width: 300px;
    height: 30px;
}

.LogIn label {
    font-family: 'Light';
}

.LogIn .inputError {
    margin-top: 5px;
    color: red;
    font-family: 'Light';
    font-size: 11px;
}


.LogIn button {
    background-color: white;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: 'Light';
}

.LogIn .btn-form {
    margin-bottom: 50px;
}


/* SignUp */
.SignUp {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh; 

    background-color: #B6CDEF;
}

.SignUp p {
    font-family: 'Regular';
    font-size: 40px;
}

.SignUp label {
    font-family: 'Light';
}

.SignUp .form_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SignUp .id_form {
    margin-top: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;    
}

.SignUp .pw_form {
    margin-top: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;    
}

.SignUp .name_form {
    margin-top: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;    
}

.SignUp .birth_form {
    margin-top: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;    
}

.SignUp .zonecode_form{
    margin-top: 10px;
    width: 300px;
    text-align: left;
    display: flex;
    flex-direction: column;  
}

.SignUp .address_form {
    margin-top: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;    
}

.SignUp .zonecode_set{
    display: flex; 
    align-content: space-between;
    width: 145px;
}

.SignUp .detailAddress_form {
    margin-top: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;    
}

.SignUp .id_input {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 0;
    background-color: white;
    border: none;
    width: 300px;
    height: 30px;
}

.SignUp .pw_input {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 0;
    background-color: white;
    border: none;
    width: 300px;
    height: 30px;
}

.SignUp .name_input {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 0;
    background-color: white;
    border: none;
    width: 300px;
    height: 30px;
}

.SignUp .birth_input {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 0;
    background-color: white;
    border: none;
    width: 300px;
    height: 30px;
    font-family: 'Light';
}

.SignUp .zonecode_input {
    border-radius: 8px;
    padding: 16px;
    margin-top: 0;
    background-color: white;
    border: none;
    width: 150px;
    height: 30px;
}

.SignUp .address_input {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 0;
    background-color: white;
    border: none;
    width: 300px;
    height: 30px;
}

.SignUp .detailAddress_input {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 0;
    background-color: white;
    border: none;
    width: 300px;
    height: 30px;
}

.SignUp button[type="button"] {
    background-color: lightgray;
    margin-right: 5px;
    margin-bottom: 3px;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.SignUp button[type="submit"] {
    background-color: lightgray;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
    width: 300px;
    height: 30px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.SignUp .inputError {
    margin-top: 5px;
    color: red;
    font-size: 11px;
}

/* logo */

.Logo {
    display: flex;
}

.Logo .logo-image {
    position: absolute; 
    display: flex;
    margin-top: 16px;
    margin-left: 18px;
    justify-content: left;
    cursor: pointer;
    width: 294px;
    height: 68px;
}


.Logo .logo-box {
    width: 100vw;
    height: 194px;
  }

/* Main */

.Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; 
  background-image: url('../public/puppy.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left; 
  position: relative;
}

/* puppy.png 출처 Freepik */

.Main .main-logo-box {
  display: flex;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.main-logo {
    cursor: pointer;
    display: flex;
}

.main-logo .logo-image {
  width: 294px;
  height: 70px;
  margin-left: 10px;
}

/* .main-logo .logo-txt {
  margin-top: 10px;
  font-family: "Regular";
  font-size: 25px;
} */

.login-btn {
    position: absolute; 
    display: flex;
    margin-top: 13px;
    justify-content: right;
    right: 110px;
    font-family: "GR";
    font-size: 20px;
    cursor: pointer;
}
  
.login-btn .login-txt{
    margin-top: 7px;
    transition: color 0.3s ease, font-size 0.3s ease;;
}
  
.login-btn:hover {
    font-family: "GB";
    font-size: 23px;
    color: white;
}

.login-btn2 {
    position: absolute; 
    display: flex;
    margin-top: 26px;
    justify-content: right;
    right: 110px;
    font-family: "GR";
    font-size: 20px;
    cursor: pointer;
}
  
.login-btn2 .login-txt{
    margin-top: 7px;
    transition: color 0.3s ease, font-size 0.3s ease;;
}

.login-btn2 .login-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 13px;
}
  
.login-btn2:hover {
    font-family: "GB";
    font-size: 23px;
    color: white;
}
    
.login-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.logout-btn {
  position: absolute; 
  display: flex;
  margin-top: 13px;
  justify-content: right;
  right: 110px;
  font-family: "GR";
  font-size: 20px;
  cursor: pointer;
}

.logout-btn .logout-txt{
    margin-top: 7px;
    transition: color 0.3s ease, font-size 0.3s ease;;
  }

.logout-btn:hover {
    font-family: "GB";
    font-size: 23px;
    color: white;
}
  
.logout-img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    margin-bottom: 5px;
}

.logout-btn2 {
    position: absolute; 
    display: flex;
    margin-top: 26px;
    justify-content: right;
    right: 270px;
    font-family: "GR";
    font-size: 20px;
    cursor: pointer;
}
  
.logout-btn2 .logout-txt{
    margin-top: 7px;
    transition: color 0.3s ease, font-size 0.3s ease;;
}

.logout-btn2 .logout-img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    margin-bottom: 17px;
}

.logout-btn2:hover {
    font-family: "GB";
    font-size: 23px;
    color: white;
}

.Main .main-text {
    position: absolute;
    top: 40%;
    right: 25%;
    transform: translate(40%, -25%);
    text-align: left;
  }

.Main .main-text span {
  font-family: "GB";
  font-size: 50px;
}

.Main .main-text .korean {
    font-family: "GR";
    font-size: 25px;
  }

.main-btn-box {
    position: absolute;
    top: 59%;
    right: 34%;
    transform: translate(59%, -34%);
}

.Main .map-btn {
    background-color: white;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    width: 250px;
    height: 100px;
    border-radius: 50px;
    border: 3px solid;
    cursor: pointer;
}

.map-btn span {
    font-family: "GR";
    font-size: 17px;
    color: black;
    transition: color 0.3s ease, font-size 0.3s ease;
    margin: 10px;
}


.map-btn:hover span {
    font-family: "GB";
    font-size: 20px;
    color: #A1BFEB;
}

.Main .shop-btn {
    background-color: white;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    width: 250px;
    height: 100px;
    border-radius: 50px;
    border: 3px solid;
    cursor: pointer;
}

.shop-btn span {
    font-family: "GR";
    font-size: 17px;
    color: black;
    transition: color 0.3s ease, font-size 0.3s ease;
    margin: 10px;
}


.shop-btn:hover span {
    font-family: "GB";
    font-size: 20px;
    color: #A1BFEB;
}

  
/* WishList */


.WishList {
    display: flex;
    flex-direction: column;
    position: relative;

    width: 100%;
    height: 100vh; 
}

.wish-btn {
    position: absolute; 
    display: flex;
    margin-top: 26px;
    justify-content: right;
    right: 110px;
    font-family: "GR";
    font-size: 20px;
    cursor: pointer;
}
  
.wish-btn .wish-txt{
    margin-top: 7px;
    transition: color 0.3s ease, font-size 0.3s ease;;
}

.wish-btn .wish-img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    margin-top: 4px;
}

.wish-btn:hover {
    font-family: "GB";
    font-size: 23px;
    color: white;
}

.WishList .wish_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 40px;
    margin-right: 40px;
}

.WishList .edit_wish {
    background-color: #F8F8FB;
    width: 50vw;
    height: 74vh;
    border-radius: 10px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "GR";
    font-size: 17px;
    overflow: auto;
    margin-top: 30px;
    flex-direction: column;
}

.WishList .wish-title {
    padding: 15px;
    font-size: 25px;
    border-bottom: 1px solid #DBDCE7;
    /* background-color: #DBDCE7; */
}

.WishList .wish-list {
    flex-wrap: wrap;
    height: 750px;
    overflow: auto;
}

.wish-list-box:hover{
    background-color: #DBDCE7;
}

.wish-list td {
    text-align: center;
    padding: 30px;
}

.wish-list .row {
    --bs-gutter-x: initial; 
}

.wish-list-img {
    width: 200px;
}

.wish-list-name {
    width: 280px;
}

.wish-list-button {
    width: 100px;
}

.wish-list-delete-box {
    width: 100px;
    font-size: 30px;
}
.wish-list-delete {
    color: #9b9fca;
    cursor: pointer;
}

.wish-list-price {
    width: 240px;
}

.wish-list-price a {
    font-family: "GL";
    font-size: 17px;
    display: block;
    width: 200px; /* 원하는 너비값으로 변경 */
    margin: 0 auto;  
}



/* Shop */

.Shop {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh; 
}

.Shop-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 40px;
    margin-right: 40px;
}

/* Category */

.Category {
    background-color: #F8F8FB;
    width: 19vw;
    height: 74vh;
    border-radius: 10px;
    text-align: center;
    position: relative;
    font-family: "GR";
    font-size: 20px;
    margin-top: 30px;
}

.Category .list-group list-group-flush {
    width: 100%;
    margin-top: 20px;
    margin-left: 7px;
    margin-right: 7px;
    align-items: left;
    justify-content: space-around;
}

.Category button {
    background-color: #F8F8FB;
    width: 100%;
    min-height: 38px;
    text-align: left;
}

.Category button:hover {
    font-family: "GB";
    font-size: 23px;
    color: #9b9fca;
  }


/* ProductList */

.product-list {
    background-color: #F8F8FB;
    width: 50vw;
    height: 74vh;
    border-radius: 10px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "GR";
    font-size: 17px;
    overflow: auto;
    margin-top: 30px;
}

.ProductList table {
    width: 100%;
    table-layout: fixed;
  }

.Product-box:hover{
    background-color: #DBDCE7;
}

.ProductList td {
    text-align: center;
    padding: 30px;
}

.Product-img {
    width: 200px;
}

.Product-name {
    width: 270px;
}

.Product-button {
    width: 100px;
}

.Product-price {
    width: 240px;
}

.Product-price a {
    font-family: "GL";
    font-size: 17px;
    display: block;
    width: 200px; /* 원하는 너비값으로 변경 */
    margin: 0 auto;  
}

/* 상품 비교 리스트 */

.product-compare-list {
    background-color: #F8F8FB;
    width: 22vw;
    height: 74vh;
    border-radius: 10px;
    text-align: center;
    position: relative;
    overflow: auto;
    font-family: "GL";
    font-size: 18px;
    margin-top: 30px;
}

.ProductCompareList {
    height: calc(100% - 40px);
    position: relative;
    padding-bottom: 30px;
}

.ProductCompareList .pcl-title {
    text-align: center;
    font-family: "GR";
    font-size: 25px;
    margin: 20px;
}

.ProductCompareList .check-image {
    width: 100px;
    height: 100px;
    margin-top: 170px;
    margin-bottom: 20px;
}

.ProductCompareList .pcl-product {
    max-height: calc(100% - 110px);
    overflow-y: auto;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.pcl-btn-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    z-index: 1;
  }

.ProductCompareList .pcl-btn {
    background-color: #DBDCE7;
    margin-top: 30px;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: "GR";
    font-size: 20px;
}

.pcl-btn:hover {
    scale: 1.1;
}

/* 하이퍼링크 */

a {
    text-decoration: none;
    color: black;
    text-align: center;
  }
  
  a:hover {
    text-decoration: underline;
  }

/* 가격비교 */
.price-compare {
    background-color: #F8F8FB;
    width: 75vw;
    height: 74vh;
    border-radius: 10px;
    position: relative;
    text-align: center;
    justify-content: center;
    font-family: "GL";
    font-size: 17px;
    overflow: auto;
    margin-left: 10px;
    margin-top: 30px;
}

.compare-title {
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 210px;
    text-align: left;
    font-family: "GR";
    font-size: 35px;
}

.price-compare .compare-left {
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 200px;
}

.compare-left .compare-img {
    width: 400px;
    height: 400px;
}

.price-compare .compare-right {
    float: right;
    margin-top: 20px;
    margin-right: 250px;
}

.compare-right table {
    border-collapse: separate;
    border-spacing: 20px;
  }

.compare-right .row-price-title {
    font-family: "GR";
    font-size: 25px;
    margin-right: 125px;
}

.compare-right .row-price {
    font-family: "GR";
    font-size: 25px;
    margin-right: 125px;
}

.compare-right .row-price a{
    font-family: "GB";
    color: #2070EB;
    margin-right: 25px;
}

.compare-right .row-price-btn {
    background-color: black;
    color: white;
    padding: 4px;
}

.compare-right .deliveryfee {
    background-color: #DBDCE7;
    text-align: left;
}

.compare-right .shop-img{
    text-align: left;
}

/* 상품 비교 */

.product-compare {
    background-color: #F8F8FB;
    width: 75vw;
    height: 74vh;
    border-radius: 10px;
    position: relative;
    text-align: center;
    justify-content: center;
    font-family: "GL";
    font-size: 17px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    align-items: center;
    margin-top: 30px;
}

.product-compare .pc-title {
    top: 10px;
    left: 50%;
    text-align: center;
    font-family: "GR";
    font-size: 30px;
    margin: 20px;
}

.product-compare .pc-product {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 75vw;
    height: 750px;
    overflow: auto;
    margin-bottom: 60px;
}

.product-compare .pc-img-box {
    height: 110px;
}


.product-compare .pc-img {
    width: 100px;
    height: 100px;
}


.product-compare .pc-info {
    display: inline-block;
    width: 270px;
    margin: 20px;
    align-items: center; 
    background-color: #EAEAF1;
    border-radius: 10%;
    padding: 20px;
}

.pc-info .pc-name {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: GR;
}

.pc-info .pc-price-box {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-compare .pc-age {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Map */

.Map {
    display: flex;
    flex-direction: column;
    position: relative;

    width: 100%;
    height: 100vh; 

    background-color: #AECFF1;
    overflow: hidden;
}

.Map .Logo {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
  }

.Map .Logo .banner {
    width: 100vw;
    height: 198px;
  }
  
.Map .Logo .logo-image {
    margin-bottom: 55%;
}

.Map .title-logo {
    position: absolute;
    top: 0;
    left: 0;
}

.Map .login-btn2 {
    position: absolute;
    top: 0;
    right: 3;
}

.Map .logout-btn2 {
    position: absolute;
    top: 0;
    right: 3;
}

.Map .search_wrapper {
    background-color: white;
    margin-top: 22.7vh;
    margin-left: 5vh;
    width: 22vw;
    height: 74vh;
    border-radius: 10px;
    position: absolute;
    justify-content: center;
    overflow: hidden;
}


.Map .search_wrapper .btn-group-md  {
    position: relative;
    font-family: "GR";
    margin-top: 20px;
    margin-left: 20px;
    z-index: 1;
}

.Map .search_wrapper .main_btn {
    margin-left: 5px;
    margin-right: 5px;
}

.Map .search_wrapper .btn {
    position: relative;
    margin-left: 10px;
    background-color: #DEE5ED;
    border-color: white;
}

.Map .search_wrapper .search_bar {
    position: relative;
    margin-top: 15px;
    margin-left: 20px;
}

.Map .search_wrapper .search_input {
    width: 80%;
    height: 35px;
    font-size: 15px;
    border-radius: 20px;
    border: 1px solid #BDCADA;
}

.Map .search_wrapper .searchBtn {
    margin-left: 5px;
    margin-bottom: 5px;
    height: 32px;
    background-color: white;
    font-family: "GL";
    border-radius: 20px;
    border: 1px solid #BDCADA;
    background-color: #DEE5ED;
}

.Map .search_wrapper .search_results {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "GL";
    font-size: small;
}


.Map .map_wrapper {
    background-color: white;
    margin-top: 22.7vh;
    margin-left: 55vh;
    width: 70vw;
    height: 74vh;
    border-radius: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.Map .map {
    margin-right: 20px;
}








