/* Login */

.LogIn {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh; 

    background-color: #B6CDEF;
    
}

.LogIn p {
    font-family: 'Jua', sans-serif;
    font-size: 40px;
}

.LogIn .form_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LogIn .id_form {
    margin-top: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    
}

.LogIn .pw_form {
    margin-top: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;

}

.LogIn .id_input {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 0;
    background-color: white;
    border: none;
    width: 300px;
    height: 30px;
}

.LogIn .pw_input {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 0;
    background-color: white;
    border: none;
    width: 300px;
    height: 30px;
}

.LogIn .inputError {
    margin-top: 5px;
    color: red;
    font-size: 11px;
}


.LogIn button {
    background-color: lightgray;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.LogIn .btn-form {
    margin-bottom: 50px;
}

/* SignUp */
.SignUp {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh; 

    background-color: lightblue;   
}

.SignUp p {
    font-family: 'Jua', sans-serif;
    font-size: 40px;
}

.SignUp .form_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SignUp .id_form {
    margin-top: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;    
}

.SignUp .pw_form {
    margin-top: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;    
}

.SignUp .name_form {
    margin-top: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;    
}

.SignUp .birth_form {
    margin-top: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;    
}

.SignUp .zonecode_form{
    margin-top: 10px;
    width: 300px;
    text-align: left;
    display: flex;
    flex-direction: column;  
}

.SignUp .address_form {
    margin-top: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;    
}

.SignUp .zonecode_set{
    display: flex; 
    align-content: space-between;
    width: 145px;
}

.SignUp .detailAddress_form {
    margin-top: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;    
}

.SignUp .id_input {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 0;
    background-color: white;
    border: none;
    width: 300px;
    height: 30px;
}

.SignUp .pw_input {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 0;
    background-color: white;
    border: none;
    width: 300px;
    height: 30px;
}

.SignUp .name_input {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 0;
    background-color: white;
    border: none;
    width: 300px;
    height: 30px;
}

.SignUp .birth_input {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 0;
    background-color: white;
    border: none;
    width: 300px;
    height: 30px;
}

.SignUp .zonecode_input {
    border-radius: 8px;
    padding: 16px;
    margin-top: 0;
    background-color: white;
    border: none;
    width: 150px;
    height: 30px;
}

.SignUp .address_input {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 0;
    background-color: white;
    border: none;
    width: 300px;
    height: 30px;
}

.SignUp .detailAddress_input {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 0;
    background-color: white;
    border: none;
    width: 300px;
    height: 30px;
}

.SignUp button[type="button"] {
    background-color: lightgray;
    margin-right: 5px;
    margin-bottom: 3px;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.SignUp button[type="submit"] {
    background-color: lightgray;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
    width: 300px;
    height: 30px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.SignUp .inputError {
    margin-top: 5px;
    color: red;
    font-size: 11px;
}
/* Main */

.Main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh; 

    background-color: lightblue;
}

.Main button {
    background-color: white;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    width: 250px;
    height: 300px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

/* Category */

.Category {
    background-color: white;
    width: 19vw;
    height: 74vh;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.Category .list-group list-group-flush {

    width: 100%;
    margin-top: 20px;
    margin-left: 7px;
    margin-right: 7px;
    align-items: left;
    justify-content: space-around;
}

.Category button {
    width: 100%;
    min-height: 38px;
    text-align: left;
}

/* Cart */


.Cart {
    display: flex;

    width: 100%;
    height: 100vh; 

    background-color: lightblue;
}


.Cart .edit_cart{
    background-color: white;
    width: 50vw;
    height: 94vh;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 38vh;
    margin-right: 15px;
    border-radius: 10px;
    position: absolute;
    text-align: center;
}

.Cart .card_wrapper{
    margin-left: 30px;
    margin-right: 30px;
    max-width: 95%;
}

.Cart .row {
    margin-left: 10px;
}

.Cart .cate_btn {
    background-color: white;
    border: none;
    width: 100%;
    margin-left: 1px;
    margin-right: 1px;
}

.Shop {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh; 

    background-color: #B6CDEF;
}

.Shop-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 40px;
    margin-right: 40px;
}

.Shop .cate_btn {
    background-color: white;
    border: none;
    width: 100%;
    margin-left: 1px;
    margin-right: 1px;
}

/* ProductList */

.product-list {
    background-color: white;
    width: 50vw;
    height: 74vh;
    border-radius: 10px;
    position: relative;
    text-align: center;
}

.ProductList td {
    text-align: center;
    align-items: center;
}

.ProductList .cart button {
    background-color: white;
    margin: 10px;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: solid 2px lightgray;
    cursor: pointer;
}

.ProductList .compare button {
    background-color: white;
    margin: 10px;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: solid 2px lightgray;
    cursor: pointer;
}

/* logo */
.Logo {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
}

.Logo .logo-image {
    align-self: center;
    width: 250px;
}

.product-compare-list {
    background-color: white;
    width: 22vw;
    height: 74vh;
    border-radius: 10px;
    text-align: center;
    position: relative;
}